
:root {
    --primary-color: rgb(242, 235, 227);
    --font-size: 16px;

}




*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.video {
   display: flex;
   margin: 0;
   align-items: center;
   padding: 20px 30px;
   justify-content: space-between;
   overflow: hidden; 
}


body{
    font-size: var(--primary-color, white) ;
    font-family: Arial, sans-serif;
    color: var(--primary-color) ;
    background-color: rgb(242, 235, 227) ;
    padding: 20px;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(193, 165, 131) ;
    padding: 20px 30px;
    border-bottom: 2px gray;
    border-radius: 15px;
    box-shadow: 0 4px 12px;

}

nav ul {
    --margin:0
    list-style: none;
    display: flex;
    margin: var(--margin);
    align-items: center;
    padding: 0;
    gap: 30px;
}

nav li {
    margin: 0;
}

nav a {
    text-decoration: none;
    color: #362d0c;
    font-weight: bold;
}

nav a:hover {
    color: #6b056c;
    border: none;

}

button {
    background-color: rgb(80, 93, 62);
    color: aliceblue;
    border: none;
    padding: 20px 20px;
    align-items: normal;
    font-size: 16px;
    border-radius:5px ;
    cursor: pointer;
    
    /* transition: background-color 0,3s; */
}

button:hover {
    background-color: rgb(30, 183, 88);
}

/* h1{
    color: #09622a;
    background-color: aquamarine;
    
} */

.Common {
    background-color: rgb(242, 247, 242);
    color: #000;
    text-align: center;
    padding: 60px 20px;
    margin-bottom: 40px;
    border-radius: 15px;
    box-shadow: 0 4px 12px rgba(red, green, blue, 2);
}

.Common h2 {
    font-size: 30px;
    margin-bottom: 20px;
}

.Common p {
    font-size: 18px;
    margin: 20px ;
}

.slider {
    display: grid;
    grid-template-columns: repeat(auto-fit, minimax(200px, 1fr));
    gap: 20px;
    margin-bottom: 40px;
    padding: 20px;
    background-color: #c7e1db;
    border-radius: 15px;
}

.slider figure {
    background-color: rgb(255, 255, 255);
    border: 1px solid black;
    overflow: hidden;
    border-radius: 6px;
    box-shadow: 0 4px 12px rgba(red, green, blue, 2);
    text-align: center;
}

.slider img {

}

.slider figcaption {

}